
* {
  box-sizing: border-box;
}



body{
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

img{
  float: left;
  width:100%;
  margin: 0px;
}

.backbutton{
  position: fixed;
  margin-left: 2%;
  margin-top: 2%;
  width: 10%;
  color: #dcdcdc;
  font-size: 15vw;
  line-height: 10vw;
  padding-bottom: 3%;
  text-align: center;
  letter-spacing: 2vw;
  background-color: white;
  border-radius: 10%;
  border-color: #dcdcdc;
  box-shadow: 2px 2px 1px;
  z-index: 5;
}

.previousheader{
  position: relative;
  float: left;
  /*width: 50%;*/
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;

  font-family: futura-pt-bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  /*font-size: 2.5vw;*/
  font-size: 4vw;
  letter-spacing: 0.2vh;
  color: #262626;

  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #dcdcdc;
}

.previous{
  float: left;
  /*position: absolute;*/
  width: 100%;
  /*margin-left: 25%;*/
  margin-left: 0%;
  background-color: white;
}

.visualresheader{
  position: relative;
  float: left;
  /*width: 50%;*/
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;

  font-family: futura-pt-bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  /*font-size: 2.5vw;*/
  font-size: 4vw;
  letter-spacing: 0.2vh;
  color: #262626;

  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #dcdcdc;
}

.visualres{
  float: left;
  /*position: absolute;*/
  width: 100%;
  /*margin-left: 25%;*/
  margin-left: 0%;
  background-color: white;
}

.Albumresheader{
  position: relative;
  float: left;
  /*width: 50%;*/
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;

  font-family: futura-pt-bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  /*font-size: 2.5vw;*/
  font-size: 4vw;
  letter-spacing: 0.2vh;
  color: #262626;

  /*background-color: #efefef;*/
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #dcdcdc;
}

.Albumres{
  float: left;
  /*position: absolute;*/
  width: 100%;
  /*margin-left: 25%;*/
  margin-left: 0%;
  background-color: white;
}

/*@media (max-width: 400px ){
  img{
    float: left;
    width:100%;
    margin: 0px;
  }

    .visualres{
      width:100%;
      margin-left: 0%;
        }

    .visualresheader{
      width: 100%;
      font-size: 4vw;
        }

        .Albumres{
          width:100%;
          margin-left: 0%;
            }

        .Albumresheader{
          width: 100%;
          font-size: 4vw;
        }

}*/
